body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(192, 192, 192);
}

.clock {
  width: 350px;
  height: 350px;
  background-color: rgba(255, 250, 240);
  border-radius: 50%;
  border: 10px solid rgb(255, 215, 0);
  position: relative;
}

.number {
  position: absolute;
  font-size: 27px;
  font-weight: bold;
  color: rgb(15, 15, 15);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%);
}

.number-1 { top: 12%; right: 25%; }
.number-2 { top: 28%; right: 8%; }
.number-3 { top: 50%; right: 2%; }
.number-4 { bottom: 20%; right: 8%; }
.number-5 { bottom: 1%; right: 25%; }
.number-6 { bottom: -5%; left: 50%; }
.number-7 { bottom: 2%; left: 25%; }
.number-8 { bottom: 20%; left: 8%; }
.number-9 { top: 50%; left: 2%; }
.number-10 { top: 28%; left: 8%; }
.number-11 { top: 12%; left: 25%; }
.number-12 { top: 2%; left: 50%; }

.hour-hand, .minute-hand, .second-hand {
  position: absolute;
  bottom: 50%;
  transform-origin: bottom center;
  background-color: rgba(0, 0, 0, 0.897);
}

/* Agrupación de estilos comunes */
.hour-hand {
  width: 6px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.minute-hand {
  width: 4px;
  height: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.second-hand {
  width: 2px;
  height: 137px;
  left: 50%;
  background-color: red;
  transform: translateX(-50%);
  z-index: 1;
}

